.button_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #FD2D01;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    background-color: #a71c00;
}

.modif_button {
    visibility: hidden;
}

.delete {
    visibility: hidden;
}

.buttonVisiblity {
    visibility: visible;
}