.button_post_like {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_like {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.like_icone {
    width: 50px;
}

.likeNumber {
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
}