.button_post_like {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like_button {
    display: flex;
    justify-content: end;
}

.button_like {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.like_icone {
    width: 50px;
}

.likeNumber {
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
}

.button_like {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}

@media(max-width: 750px) {
    .button_like {
        width: 70px;
    }
}