.container_comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin-top: 10px;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(77, 77, 77);
    margin-bottom: 30px;
    color: white;
    padding: 20px;
    width: 70%;
    border-radius: 20px;
    word-wrap: break-word;
    border: 2px solid #FD2D01;
}

article p {
    font-size: 20px;
}