.post_main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;

}

.container_post {
    width: 70%;
    min-height: 150px;
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.content_post {
    font-size: 17px;
}

.username {
    font-size: 20px;
    margin: 0;
    padding-bottom: 13px;
    margin-bottom: 0px;
    font-weight: bold;
    padding: 0;

}

.title {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

.content {
    margin-bottom: 50px;
    margin-top: 0;
}

.pagination_post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.message-container {
    background-color: rgb(77, 77, 77);
    margin-bottom: 30px;
    color: white;
    width: 70%;
    padding: 20px;
    text-align: start;
    border-radius: 20px;
    word-wrap: break-word;
    border: 2px solid #FD2D01;
}

@media (max-width: 880px) {
    .message-container {
        min-width: 509px;
    }
}

@media (max-width: 570px) {
    .message-container {
        min-width: 350px;
    }
}

@media (max-width: 415px) {
    .message-container {
        min-width: 300px;
    }
}

@media (max-width: 350px) {
    .message-container {
        min-width: 250px;
    }

    .pagination_post {
        padding: 20px;
        margin-top: 0px;
    }
}


.button_post {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 350px) {
    .button_post {
        flex-direction: column;
    }
}

.message {
    color: white;
    font-size: 20px;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
    color: rgb(42, 79, 144);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}